name: Build Docker image with packages

on: [push]

jobs:
  build_docker:
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: network=host

      - name: Build and push to local registry
        uses: docker/build-push-action@v6
        with:
          build-args: |
            MARTINI_VERSION=${{ vars.BASE_DOCKER_MARTINI_VERSION }}
            PACKAGE_DIR=${{ vars.PACKAGE_DIR || 'packages' }}
          push: true
          tags: localhost:5000/sample/martini:latest